[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Alexey Galkin (molecul)
[access "refs/for/refs/*"]
	read = group user/Alexey Galkin (molecul)
	push = group user/Alexey Galkin (molecul)
	label-Code-Review = -2..+2 group user/Alexey Galkin (molecul)
	label-Verified = -1..+1 group user/Alexey Galkin (molecul)
	rebase = group user/Alexey Galkin (molecul)
	removeReviewer = group user/Alexey Galkin (molecul)
	submit = group user/Alexey Galkin (molecul)
[access "refs/heads/*"]
	read = group user/Alexey Galkin (molecul)
	create = group user/Alexey Galkin (molecul)
	push = +force group user/Alexey Galkin (molecul)
	pushMerge = group user/Alexey Galkin (molecul)
[access "refs/tags/*"]
	push = group user/Alexey Galkin (molecul)
	push = +force group user/Alexey Galkin (molecul)
