[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Alexey Galkin (molecul)
[access "refs/for/refs/*"]
	read = group qa_portal_dev
	push = group qa_portal_dev
	label-Code-Review = -2..+2 group qa_portal_dev
        laber-Verified = -1..+1 group qa_portal_dev
	rebase = group qa_portal_dev
        removeReviewer = group qa_portal_dev
        submit = group qa_portal_dev
[access "refs/heads/*"]
	read = group qa_portal_dev
        create = group qa_portal_dev
	push = +force qa_portal_dev
        pushMerge = group qa_portal_dev
[access "refs/tags/*"]
	push = group qa_portal_dev
        push = +force group qa_portal_dev
