{{ define "content" }}
    <div class="row">
        <div class="main">
            <h1 class="page-header">Challenges</h1>
            <div class="table-responsive">
                <table data-toggle="table"
                       data-url="/api/challenges"
                       data-search="true"
                       data-show-refresh="true"
                       data-show-toggle="true"
                       data-show-columns="true">
                    <thead>
                        <tr>
                            <th data-field="ID">Id</th>
                            <th data-field="Name">Name</th>
                            <th data-field="Image">Image</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
{{ end }}