{{- define "head" }}
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Mirantis QA Education Portal">
    <meta name="author" content="Alexey Galkin, Vladimir Jigulin">
	<link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="/static/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/static/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/static/manifest.json">
	<link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="apple-mobile-web-app-title" content="Mirantis QA Education Portal">
	<meta name="application-name" content="Mirantis QA Education Portal">

    <title>Mirantis QA Education Portal</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/css/starter-template.css" rel="stylesheet">
	<link href="/static/css/bootstrap-table.css" rel="stylesheet">
	{{- template "css-custom" . -}}
{{- end -}}
{{- define "body" }}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">QA Portal</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
				<li><a href="/">Home</a></li>
				<li><a href="/challenges">Challenges</a></li>
				<li><a href="/scoreboard">Scoreboard</a></li>
            </ul>
			<ul class="nav navbar-nav navbar-right">
				<li>
					{{ if .user -}}
					<li class="dropdown">
						<li><a href="/profile">Profile</a></li>
						<li><a href="/logout">Logout</a></li>
					</li>
					{{- else -}}
					<li><a href="/login">Login</a></li>
					{{- end }}
				</li>
			</ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">
{{- template "content" . -}}
</div><!-- /.container -->

<script src="/static/js/jquery-3.1.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/ie10-viewport-bug-workaround.js"></script>
<script src="/static/js/bootstrap-table.js"></script>
<script src="/static/js/qa_portal.js"></script>
{{- template "js-custom" . -}}
{{- end -}}
{{- define "css-custom" }}{{- end -}}
{{- define "js-custom" }}{{- end -}}
<!DOCTYPE html>
<html lang="en">
<head>{{ template "head" . }}</head>
<body>{{ template "body" . }}</body>
</html>